.header {
  z-index: 1000;
  position: fixed;
  top: 0px;
  border: 1px solid #dddddd;
  background-color: #ffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;

  img {
    width: 50rem;
    height: 15rem;
    margin-left: 100px;
    @media screen and (max-width: 900px) {
      width: 14rem;
      height: 4rem;
      margin-left: 10px;
    }
  }

  .logout-button {
    height: 30px;
    width: 62px;
    text-align: center;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding-right: 1rem;
    :hover {
      background-color: #a9d18e83;
    }

    .box {
      border: 1px solid #a9d18e;
      padding: 0px 7px 0px 7px;
      border-radius: 3px;
    }

    p {
      font-size: 10px;
      font-weight: 450;
      color: #61943e;
      margin-top: 5px;
    }
  }
}
